<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="/assets/css/teacher.css">
    <link rel="stylesheet" href="/assets/font/fontawesome/icon-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
    <input type="hidden" value="<%= malopdangxem %>" id="malopdangxem">
    <%- include ("partial/leftsidebar") %>
        <%- include ("partial/dropdown") %>
            <%- include ("partial/chonlop") %>

                <div class="content">

                    <!-- phần giữa trang chủ -->
                    <div class="main">
                        <% if(hoten) { %>
                            <h1 class="title-main">Xin chào, <%= hoten %>
                            </h1>
                            <% } %>

                                <% if(vaitro=='covan' ) { %>
                                    <button data-toggle="collapse" data-target="#add-stu" class="btn ml-3">
                                        Thêm sinh viên
                                    </button>
                                    <button data-toggle="collapse" data-target="#chart-static" class="btn ml-3">
                                        Biểu đồ thống kê
                                    </button>
                                    <form id="add-stu" class="adding-member flex-wrap collapse"
                                        action="/add/student/<%= email %>/<%= sinhvien[0].malop %>" method="post">
                                        <!-- <img src="/assets/img/IMG_8672.png" alt="" class="adding-avt"> -->
                                        <div class="adding-id-inf col-md-4">
                                            <h2 class="name-inf">MSSV</h2>
                                            <input id="stu-id" autocomplete="off" type="text" class="input-inf" required
                                                name="mssv" placeholder="mã sv" />
                                        </div>
                                        <div class="adding-name-inf col-md-4">
                                            <h2 class="name-inf">Họ tên</h2>
                                            <input id="stu-name" autocomplete="off" type="text" class="input-inf" required
                                                placeholder="Tên" name="hoten" />
                                        </div>
                                        <div class="adding-name-inf col-md-4">
                                            <h2 class="name-inf">Ngày sinh</h2>
                                            <input id="stu-dob" autocomplete="off" type="date" class="input-inf" required
                                                name="ngaysinh" />
                                        </div>
                                        <div class="adding-name-inf col-md-4">
                                            <h2 class="name-inf">Lớp khoá học</h2>
                                            <input id="stu-class-id" autocomplete="off" type="text" class="input-inf" required
                                                placeholder="Mã lớp" name="malop" />
                                        </div>
                                        <div class="adding-name-inf col-md-4">
                                            <h2 class="name-inf">Email</h2>
                                            <input id="stu-email" autocomplete="off" type="email" class="input-inf" 
                                                placeholder="email" name="email" />
                                        </div>
                                        <div class="adding-name-inf col-md-4">
                                            <h2 class="name-inf">Sđt</h2>
                                            <input id="stu-phone" autocomplete="off" type="text" class="input-inf" 
                                                placeholder="Số điện thoại" name="sdt" />
                                        </div>
                                        <div class="adding-name-inf col-md-4">
                                            <h2 class="name-inf">Sđt phụ huynh</h2>
                                            <input id="stu-parent-phone" autocomplete="off" type="text"
                                                class="input-inf"  placeholder="Số điện thoại phụ huynh"
                                                name="sdtphuhuynh" />
                                        </div>
                                        <div class="adding-name-inf col-md-4">
                                            <h2 class="name-inf">Địa chỉ</h2>
                                            <input id="stu-add" autocomplete="off" type="text" class="input-inf" 
                                                placeholder="Địa chỉ" name="diachi" />
                                        </div>
                                        <input type="submit" value="Thêm sv" id=""
                                            class="adding-btn btn align-self-center ml-auto mr-auto col-md-2">
                                    </form>
                                        <!--CHART-->

                                    <div id="chart-static" class="collapse row justify-content-center mt-5">

                                        <div class="col-md-10">
                                            <canvas id="myChart"></canvas>
                                            <script>
                                                var xValues = ["Xuất sắc", "Giỏi", "Khá", "Trung bình", "Yếu"];
                                                var yValues = [<%= xuatsac %>, <%= gioi %>, <%= kha %>, <%= trungbinh %>, <%= yeu %>];
                                                var barColors = ["rgba(88, 162, 209)", "rgba(42, 157, 143)", "rgba(233, 196, 106)", "rgba(244, 162, 97)", "rgba(231, 111, 81)"];
    
                                                new Chart("myChart", {
                                                    type: "bar",
                                                    data: {
                                                        labels: xValues,
                                                        datasets: [{
                                                            backgroundColor: [
                                                            'rgba(255, 99, 132, 0.2)',
                                                            'rgba(54, 162, 235, 0.2)',
                                                            'rgba(255, 206, 86, 0.2)',
                                                            'rgba(75, 192, 192, 0.2)',
                                                            'rgba(153, 102, 255, 0.2)',
                                                            'rgba(255, 159, 64, 0.2)'
                                                            ],
                                                            borderColor: [
                                                            'rgba(255,99,132,1)',
                                                            'rgba(54, 162, 235, 1)',
                                                            'rgba(255, 206, 86, 1)',
                                                            'rgba(75, 192, 192, 1)',
                                                            'rgba(153, 102, 255, 1)',
                                                            'rgba(255, 159, 64, 1)'
                                                            ],
                                                            borderWidth: 1,
                                                            data: yValues
                                                        }]
                                                    },
                                                    options: {
                                                        legend: { display: false },
                                                        title: {
                                                            display: true,
                                                            text: "Điểm GPA <%= sinhvien[0].malop %>"
                                                        },
                                                        scales: {
                                                            yAxes: [{
                                                                ticks: {
                                                                    beginAtZero: true,
                                                                    callback: function (value) { if (value % 1 === 0) { return value; } }
                                                                }
                                                            }]
                                                        },
                                                        responesive: true
                                                    }                                                        

                                                });
                                            </script>
                                        </div>
                                    </div>    
                                        <% } %>

                                        <% if (vaitro == 'covan') { %>
                                        <!-- xuất excel -->
                                        <form action="/download/<%= sinhvien[0].malop %>"
                                            class="d-flex justify-content-between mt-4 mb-3" method="get">
                                            <input class="form-control mt-4 col-md-9" id="myInput" type="text"
                                                placeholder="Search..">
                                            <input type="submit" class="mt-4 blue-btn btn col-md-2" value="Xuất excel">
                                        </form>
                                        <% } %>

                                        <!--Bảng danh sách sinh viên-->
                                        <div class="table-responsive">
                                            <table id="student-table" class=" w-100 table">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>MSSV</th>
                                                        <th>Họ và tên</th>
                                                        <th>Ngày sinh</th>
                                                        <th>Lớp khoá học</th>
                                                        <th>Email</th>
                                                        <th>SĐT</th>
                                                        <% if (vaitro=='covan' ){%>
                                                            <th>SĐT phụ huynh</th>
                                                            <th>Địa chỉ</th>
                                                            <th></th>
                                                            <th></th>
                                                            <!-- <th></th> -->
                                                            <% } %>
                                                    </tr>
                                                </thead>
                                                <tbody class="stu-table-body" data-rel="<%= sinhvien.length%>">
                                                    <% if(sinhvien) { %>
                                                        <% for (var i=0; i < sinhvien.length; i++) { %>
                                                            <tr>
                                                                <td>
                                                                    <form action="/view/profile/<%= email %>/<%= sinhvien[i].mssv %>">
                                                                    </form>
                                                                    <%= i+1 %>
                                                                </td>
                                                                <td>
                                                                    <%= sinhvien[i].mssv %>
                                                                </td>
                                                                <td>
                                                                    <%= sinhvien[i].hoten %>
                                                                </td>
                                                                <td>
                                                                    <%= sinhvien[i].ngaysinh %>
                                                                </td>
                                                                <td>
                                                                    <%= sinhvien[i].malop %>
                                                                </td>
                                                                <td>
                                                                    <%= sinhvien[i].email %>
                                                                </td>
                                                                <td>
                                                                    <%= sinhvien[i].sdt %>
                                                                </td>
                                                                <% if(vaitro=='covan' ) { %>
                                                                    <td>
                                                                        <%= sinhvien[i].sdtphuhuynh %>
                                                                    </td>
                                                                    <td>
                                                                        <%= sinhvien[i].diachi %>
                                                                    </td>

                                                                    <td>
                                                                        <div data-toggle="modal" data-target="#del-stu"
                                                                            class="delete-btn btn red-btn mt-0"
                                                                            value="Xoá">
                                                                            <i class="ti-trash"></i>
                                                                        </div>
                                                                        <div id="del-stu"
                                                                            class="modal fade delete-confirmation">
                                                                            <!-- delete-confirmation -->
                                                                            <form
                                                                                class=" modal-dialog modal-dialog-centered"
                                                                                action="/student/delete/<%= sinhvien[i].mssv %>/<%= email %>/<%= sinhvien[i].malop %>"
                                                                                method="post">
                                                                                <div class="container modal-content">
                                                                                    <span class="close-del"
                                                                                        data-dismiss="modal"
                                                                                        title="Đóng">×</span>

                                                                                    <h1>Xoá sinh viên</h1>
                                                                                    <p>Bạn có muốn xoá sinh viên này
                                                                                        khỏi danh
                                                                                        sách và toàn bộ thông tin liên
                                                                                        quan đến
                                                                                        sinh viên?</p>

                                                                                    <div class="clearfix">
                                                                                        <button type="button"
                                                                                            data-dismiss="modal"
                                                                                            class="cancelbtn">Huỷ</button>
                                                                                        <button type="submit"
                                                                                            class="del-confirm-btn deletebtn">Xoá</button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <form id="editstudentinfo"
                                                                            action="/editstudentinfo/<%= sinhvien[i].mssv %>/<%= email %>/<%= sinhvien[i].malop %>"
                                                                            method="post">
                                                                        </form>
                                                                        <div class="stu-btn btn yellow-btn mt-0">
                                                                            <i class="ti-pencil stu-btn"></i>
                                                                        </div>
                                                                        <div value="Lưu lại"
                                                                            class="stu-btn save-btn btn green-btn mt-0">
                                                                            <i class="ti-save stu-btn"></i>
                                                                        </div>
                                                                    </td>
                                                                    <!-- <td>
                                                                        <form action="/view/profile/<%= email %>/<%= sinhvien[i].mssv %>">
                                                                            <input type="submit" value="Xem hồ sơ">
                                                                        </form>
                                                                    </td> -->

                                                                    <% } %>
                                                            </tr>
                                                            <% } %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                    </div>
                </div>

                <script src="/assets/js/teacher.js"></script>

</body>

</html>