<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="../assets/css/teacher.css">
    <link rel="stylesheet" href="../assets/font/fontawesome/icon-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="left-side ">
        <h1 class="title">Student Management</h1>
        <label for="">Tools</label>
        <ul class="nav">
            <li data-rel="1" class="active"><i class="ti-user"></i> Sinh viên</li>
            <li data-rel="2" class=""><i class="ti-book"></i> Học tập</li>
            <li data-rel="3" class=""><i class="ti-clipboard"></i> Rèn luyện</li>
            <li data-rel="4" class=""><i class="ti-arrow-circle-down"></i> Công việc</li>
            <li data-rel="5" class=""><i class="ti-help-alt"></i> Diễn đàn</li>
        </ul>

        <label for="">Others</label>
        <ul class="nav">
            <li data-rel="6"><i class="ti-headphone-alt"></i> Hỗ trợ</li>
        </ul>
    </div>

    <div class="content">

        <!-- phần giữa trang chủ -->
        <div class="main">
            <% if(hoten) { %>
                <h1 class="title-main">Xin chào, <%= hoten %>
                </h1>
                <% } %>

                    <% if(role=='covan' ) { %>
                        <form class="adding-member" action="/add/student" method="post">
                            <img src="../assets/img/IMG_8672.png" alt="" class="adding-avt">
                            <div class="adding-id-inf col-md-3">
                                <h2 class="name-inf">MSSV</h2>
                                <input id="stu-id" autocomplete="off" type="text" class="input-inf" name="mssv"
                                    placeholder="mã sv" />
                            </div>
                            <div class="adding-name-inf col-md-3">
                                <h2 class="name-inf">Họ tên</h2>
                                <input id="stu-name" autocomplete="off" type="text" class="input-inf" placeholder="Tên"
                                    name="hoten" />
                            </div>

                            <div class="adding-name-inf col-md-3">
                                <h2 class="name-inf">Ngày sinh</h2>
                                <input id="stu-dob" autocomplete="off" type="date" class="input-inf" />
                            </div>

                            <div class="adding-name-inf col-md-3">
                                <h2 class="name-inf">Lớp khoá học</h2>
                                <input id="stu-class-id" autocomplete="off" type="text" class="input-inf"
                                    placeholder="Mã lớp" name="malop" />
                            </div>

                            <div class="adding-name-inf col-md-3">
                                <h2 class="name-inf">Email</h2>
                                <input id="stu-email" autocomplete="off" type="email" class="input-inf"
                                    placeholder="email" name="email" />
                            </div>

                            <div class="adding-name-inf col-md-3">
                                <h2 class="name-inf">Sđt</h2>
                                <input id="stu-phone" autocomplete="off" type="text" class="input-inf"
                                    placeholder="Số điện thoại" name="sđt" />
                            </div>
                            <input type="submit" value="Thêm sv" id="" class="adding-btn btn col-md-2">
                        </form>
                        <form action="download" method="get">
                            <input type="submit" value="Xuất excel">
                        </form>
                        <% } %>
                            <div class="member-list">
                                <div class="member">
                                    <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                                    <p class="member-name">Name</p>
                                    <p class="member-pos">position</p>
                                </div>

                                <div class="member">
                                    <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                                    <p class="member-name">Name</p>
                                    <p class="member-pos">position</p>
                                </div>

                                <div class="member">
                                    <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                                    <p class="member-name">Name</p>
                                    <p class="member-pos">position</p>
                                </div>

                                <div class="member">
                                    <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                                    <p class="member-name">Name</p>
                                    <p class="member-pos">position</p>
                                </div>
                            </div>



                            <!--Bảng danh sách sinh viên-->
                            <div class="table-responsive ml-3">
                                <input class="form-control mt-4 mb-4" id="myInput" type="text" placeholder="Search..">
                                <table id="student-table" class=" w-100 table">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>MSSV</th>
                                            <th>Họ và tên</th>
                                            <th>Ngày sinh</th>
                                            <th>Lớp khoá học</th>
                                            <th>Email</th>
                                            <th>SĐT</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="stu-table-body">
                                        <% if(sinhvien) { %>
                                            <% for (var i=0; i < sinhvien.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= sinhvien[i].mssv %>
                                                    </td>
                                                    <td>
                                                        <%= sinhvien[i].hoten %>
                                                    </td>
                                                    <td>
                                                        <%= sinhvien[i].ngaysinh %>
                                                    </td>
                                                    <td>
                                                        <%= sinhvien[i].malop %>
                                                    </td>
                                                    <td>
                                                        <%= sinhvien[i].email %>
                                                    </td>
                                                    <td>
                                                        <%= sinhvien[i].sdt %>
                                                    </td>
                                                    <td>
                                                        <button class="delete-btn btn-danger"><i
                                                                class="ti-trash"></i></button>
                                                        <button class="btn-info">Save</button>
                                                    </td>v
                                                </tr>
                                                <% } %>
                                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
        </div>

        <!-- Học tập -->
        <div class="main">
            <h1 class="title-main">Học tập</h1>
            <div class="selections d-flex justify-content-between">
                <form>
                    <label for="year">Năm học:</label>
                    <select name="year" id="year_hoctap">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                    <label for="sem">Học kỳ:</label>
                    <select name="sem" id="sem_hoctap">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </form>
                <% if(role=='covan' ) { %>
                    <form>
                        <label for="classify">Phân loại:</label>
                        <select name="classify" id="classify">
                            <option value="0">Tất cả sinh viên</option>
                            <option value="1">Sv có thành tích học tập tốt</option>
                            <option value="2">Sv nguy cơ nghỉ học</option>
                            <option value="3">Sv thiếu tín chỉ</option>
                        </select>
                    </form>
                    <% } %>
            </div>

            <div class="">
                <table class="mark" id="marktable">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã SV</th>
                            <th>Họ Tên</th>
                            <th>Ngày Sinh</th>
                            <th>Mã lớp</th>
                            <th>Năm học</th>
                            <th>Học kỳ</th>
                            <th>Tín chỉ</th>
                            <th>GPA</th>
                            <th>Cảnh báo học vụ</th>
                        </tr>
                    </thead>
                    <% if(diemSinhVien) { %>
                        <tbody>
                            <% for (var i=0; i < diemSinhVien.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].mssv %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].hoten %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].ngaysinh %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].malop %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].bangdiem['namhoc'] %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].bangdiem['hocky'] %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].bangdiem['tinchi'] %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].bangdiem['gpa'] %>
                                    </td>
                                    <td>
                                        <%= diemSinhVien[i].bangdiem['canhbaohocvu'] %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                        <% } %>

                </table>
            </div>
        </div>

        <!-- Rèn luyện -->
        <div class="main">
            <h1 class="title-main">Rèn luyện</h1>
            <form class="selections">
                <label for="year">Năm học:</label>
                <select name="year" id="year">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
                <label for="sem">Học kỳ:</label>
                <select name="sem" id="sem">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </form>

            <div class="">
                <table class="work" id="worktable">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã SV</th>
                            <th>Họ Tên</th>
                            <th>Ngày Sinh</th>
                            <th>Mã lớp</th>
                            <th>Năm học</th>
                            <th>Học kỳ</th>
                            <th>Ý thức học tập</th>
                            <th>Chấp hành nội quy</th>
                            <th>Tham gia hoạt động</th>
                            <th>Phẩm chất</th>
                            <th>Phụ trách lớp</th>
                            <th>Tổng</th>
                        </tr>
                    </thead>
                    <% if(diemRenLuyen) { %>
                        <tbody>
                            <% for (var i=0; i < diemRenLuyen.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].mssv %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].hoten %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].ngaysinh %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].malop %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['namhoc'] %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['hocky'] %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['ythuc'] %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['noiquy'] %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['hoatdong'] %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['phamchat'] %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['phutrachlop'] %>
                                    </td>
                                    <td>
                                        <%= diemRenLuyen[i].diemrenluyen['ythuc'] +
                                            diemRenLuyen[i].diemrenluyen['noiquy'] +
                                            diemRenLuyen[i].diemrenluyen['hoatdong'] +
                                            diemRenLuyen[i].diemrenluyen['phamchat'] +
                                            diemRenLuyen[i].diemrenluyen['phutrachlop'] %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                        <% } %>
                </table>
            </div>
        </div>

        <!-- Công việc -->
        <div class="main">
            <h1 class="title-main">Công việc</h1>
            <% if(role=='covan' ) { %>
                <button data-toggle="collapse" data-target="#todo-form" class="todo-add-btn js-add-todo btn">Thêm một
                    công
                    việc</button>
                <form action="/upload/task" class="form js-todo-form collapse" id="todo-form" method="post">
                    <label for="">Tiêu đề</label>
                    <input type="text" class="input-subject" name="subject">
                    <hr>

                    <div class="todo-dur-input">
                        <label for="birthdaytime">Opened:</label>
                        <input type="datetime-local" name="opendate">
                        <label for="birthdaytime">Due:</label>
                        <input type="datetime-local" name="duedate">
                    </div>
                    <hr>
                    <label for="">Nội dung</label>
                    <input role="textbox" spellcheck="true" class="input-content" name="content">
                    <div>
                        <input type="submit" value="Đăng lên" class="btn">
                        <div class="btn cancel-btn">Huỷ bỏ</div>
                    </div>
                </form>
                <% } %>
                    <div class="todo">
                        <h3 class="todo-title">
                            <!-- thêm biến tiêu đề -->
                        </h3>
                        <div class="todo-intro">
                            <p class="todo-content">
                                <!-- Thêm biến nội dung -->
                            </p>
                            <div class="todo-duration">
                                <p class="todo-opened">Opened:
                                    <!--Thêm biến tgian-->
                                </p>
                                <p class="todo-due">Due:
                                    <!--Thêm biến tgian-->
                                </p>
                            </div>
                        </div>

                        <!-- <div class="todo-opinion">
                    <span class="todo-yk">Gửi ý kiến</span>
                    <a href="#" class="todo-cmt-btn"><i class="ti-angle-right"></i> Bình luận</a>
                </div> -->
                    </div>
        </div>

        <!--diễn đàn -->
        <div class="main">
            <h1 class="title-main">Diễn đàn</h1>
            <button data-toggle="collapse" data-target="#question-form" class="question-btn btn">Thêm một chủ đề thảo
                luận</button>
            <form action="/upload/question" class="form js-question-form collapse" id="question-form" method="post">
                <label for="">Tiêu đề</label>
                <input type="text" class="input-subject" name="subject">
                <hr>
                <label for="">Nội dung</label>
                <input contenteditable="true" role="textbox" spellcheck="true" class="input-content" name="content">
                <div>
                    <input type="submit" value="Đăng lên" class="btn">
                    <div class="btn cancel-btn">Huỷ bỏ</div>
                </div>
            </form>

            <div class="question">
                <div class="ques-inf">
                    <div class="inf-item author-ava">
                        <img src="" alt="" class="">
                    </div>
                    <div class="inf-item">
                        <p class="author-name">
                            <!--Thêm biến tên-->
                        </p>
                        <p class="post-time">
                            <!--Thêm biến tgian-->
                        </p>
                    </div>
                    <div class="inf-item favourite">
                        <i class="ti-star"></i>
                    </div>
                </div>

                <div class="question-body">
                    <h3 class="question-subject">
                        <!--Thêm biến tiêu đề câu hỏi diễn đàn-->
                    </h3>
                    <p class="question-content">
                        <!--Thêm biến nội dung diễn đàn-->
                    </p>
                </div>

                <div class="question-respone">
                    <p class="question-like"><i class="ti-heart"></i>Yêu thích</p>
                    <p class="question-cmt"><i class="ti-comment"></i>Bình luận</p>
                </div>
            </div>
        </div>

        <div class="main">
            <h1 class="title-main">Hỗ trợ</h1>
        </div>

        <!-- profile -->
        <div class="main emp-profile">
            <div class="row profile-header">
                <div class="profile-img col-md-4">
                    <img src="../assets/img/IMG_8672.png" alt="" />
                    <div class="file btn-lg btn-primary">
                        <i class="ti-camera"></i>
                        <input type="file" name="file" />
                    </div>
                </div>
                <div class="profile-title col-md-6">
                    <h5 class="profile-name">
                        <%= hoten %>
                    </h5>
                    <h6>
                        Sinh viên
                    </h6>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <!-- <div class="profile--btn btn">Edit</div>
                        <br> -->
                    <input type="submit" class="btn profile-edit-btn" name="btnAddMore" value="Edit" />
                </div>
            </div>
            <div class="row profile-content">
                <div class="profile-work col-md-4">
                    <!-- <p>Link 1</p>
                        <a href="">1</a><br />
                        <a href="">2</a><br />
                        <a href="">3</a>
                        <p>Link 2</p>
                        <a href="">1</a><br />
                        <a href="">2</a><br />
                        <a href="">3</a><br />
                        <a href="">4</a><br />
                        <a href="">5</a><br /> -->
                </div>
                <div class="tab-content profile-tab col-md-8" id="myTabContent">
                    <div class="tab-pane fade  show active about" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <% if(role=='sinhvien' ) { %>
                            <form id="editstudent" action="/student/editprofile/<%= mssv %>" method="post">
                                <% } %>
                                    <% if(role=='covan' ) { %>
                                        <form id="editteacher" action="/teacher/editprofile/<%= email %>" method="post">
                                            <% } %>
                                                <div class="row">
                                                    <label class="col-md-6">Họ và tên:</label>
                                                    <p id="nametoedit" name="hoten" class="editp col-md-6"><%= hoten %></p>
                                                </div>
                                                <% if(role=='sinhvien' ) { %>
                                                    <div class="row">
                                                        <label class="col-md-6"> Mã số sinh viên:</label>
                                                        <p name="mssv" class="col-md-6" value=""><%= mssv %></p>
                                                    </div>
                                                    <% } %>
                                                    <div class="row">
                                                        <label class="col-md-6"> Ngày sinh:</label>
                                                        <p name="mssv" class="col-md-6" value=""><%= ngaysinh %></p>
                                                    </div>
                                                        <div class="row">
                                                            <label class="col-md-6">Khoa:</label>
                                                            <p class="col-md-6"><%= khoa %></p>
                                                        </div>
                                                        <% if(role=='sinhvien' ) { %>
                                                            <div class="row">
                                                                <label class="col-md-6">Lớp:</label>
                                                                <p class="col-md-6"><%= malop %></p>
                                                            </div>
                                                            <% } %>
                                                        <% if(role=='sinhvien' ) { %>
                                                                <div class="row">
                                                                    <label class="col-md-6">Email:</label>
                                                                    <p id="emailtoedit" name="email" class="editp col-md-6"><%= email %></p>
                                                                </div>
                                                                <% } %>
                                                        <% if(role=='covan' ) { %>
                                                            <div class="row">
                                                                <label class="col-md-6">Email:</label>
                                                                <p id="emailtoedit" name="email" class="col-md-6"><%= email %></p>
                                                            </div>
                                                            <% } %>
                                                                <div class="row">
                                                                    <label class="col-md-6">Số điện thoại:</label>
                                                                    <p id="sdttoedit" name="sdt" class="editp col-md-6"><%= sdt %></p>
                                                                </div>
                                                                <% if(role=='sinhvien' ) { %>
                                                                    <div class="row">
                                                                        <label class="col-md-6">Số tín chỉ:</label>
                                                                        <p class="col-md-6"><%= tinchi %></p>
                                                                    </div>
                                                                    <% } %>
                                                                        <% if(role=='sinhvien' ) { %>
                                                                            <div class="row">
                                                                                <label class="col-md-6">GPA:</label>
                                                                                <p class="col-md-6"><%= gpa %></p>
                                                                            </div>
                                                                            <% } %>
                                                                                <input type="submit" id="xacnhan"
                                                                                    value="Xác nhận">

                                        </form>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <label class="col-md-6">Experience</label>
                            <p class="col-md-6">Expert</p>
                        </div>
                        <div class="row">
                            <label class="col-md-6">Hourly Rate</label>
                            <p class="col-md-6">10$/hr</p>
                        </div>
                        <div class="row">
                            <label class="col-md-6">Total Projects</label>
                            <p class="col-md-6">230</p>
                        </div>
                        <div class="row">
                            <label class="col-md-6">English Level</label>
                            <p class="col-md-6">Expert</p>
                        </div>
                        <div class="row">
                            <label class="col-md-6">Availability</label>
                            <p class="col-md-6">6 months</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown">
        <img id="dropbtn" class="dropbtn js-dropbtn dropdown-toggle" src="../assets/img/IMG_8672.png" alt=""
            data-toggle="dropdown">
        <!-- <button id="dropbtn " class="dropbtn js-dropbtn"><i class="fas fa-caret-down"></i></button> -->
        <ul class="dropdown-menu" id="dropdown-list">
            <li><a class="profile" href="#">
                    <!-- <img class="margin-top avatar" id="" src="/assets/img/IMG_8672.png" alt=""> -->
                    <label for="">
                        <%= hoten %>
                    </label>
                </a></li>
            <% if(role=='sinhvien' ) { %>
                <hr>
                <li><a href="#">Kết quả học tập</a></li>
                <li><a href="#">Điểm rèn luyện</a></li>
                <% } %>
                    <hr>
                    <li><a href="#">Cài đặt</a></li>
                    <li><a href="/logout">Đăng xuất</a></li>
        </ul>
    </div>
    <% if(role=='covan' ) { %>
        <form class="right-nav" method="post" action="/myclass">
            <% if(username) { %>

                <input name="emailcovan" type="hidden" value="<%= username %>">
                <% } %>
                    <label for="class"><i class="ti-list"></i></label>
                    <select name="class" class="class-list" onchange='if(this.value != 0) { this.form.submit(); }'>
                        <option value="" selected="selected">--Chọn mã lớp học--</option>
                        <% if(classId) { %>
                            <% for (var i=0; i < classId.length; i++) { %>
                                <option data-rel="1"><i class="ti-angle-right"></i>
                                    <%= classId[i].malop %>
                                </option>
                                <% } %>
                                    <% } %>
                    </select>
        </form>
        <% } %>
            <!-- rightsidebar -->
            <!-- <div class="rightsidebar">
        
    </div> -->


            <script>
                (function ($) {
                    // Tìm kiếm sinh viên
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $(".stu-table-body tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                    //Theem 1 dong tron danh sach
                    const stdBdTable = $('.stu-table-body');
                    const stuForm = $('.adding-member')
                    function onAddStu(e) {
                        e.preventDefault();
                        var rowCount = $('.stu-table-body >tr').length;
                        const name = $('#stu-name').val()
                        const id = $('#stu-id').val()
                        const dob = $('#stu-dob').val()
                        const classID = $('#stu-class-id').val()
                        const email = $('#stu-emai').val()
                        const phone = $('#stu-phone').val()
                        stdBdTable.append(`
                    <tr>
                      <td>${rowCount + 1}</td>
                      <td>${id}</td>
                      <td>${name}</td>
                      <td>${dob}</td>
                      <td>${classID}</td>
                      <td>${email}</td>
                      <td>${phone}</td>
                      <td><button class="delete-btn btn-danger"><i class="ti-trash"></i></button></td>
                    </tr>
                `);
                    }
                    stuForm.submit(onAddStu)
                    console.log(stdBdTable)
                    //Xoá 1 dong trong danh sách
                    var stdTable = $('#student-table');
                    function onDeleteRow(e) {
                        if (!e.target.classList.contains('delete-btn')) {
                            return;
                        }
                        const btn = e.target;
                        console.log(btn)
                        btn.closest("tr").remove();
                    }
                    stdTable.click(onDeleteRow);
                    // Huỷ bỏ đăng công việc
                    $('.js-close-todo-btn').click(function (e) {
                        $('#todo-form').collapse("hide");
                    })
                    //Huỷ bỏ đăng câu hỏi diễn đàn
                    $('.js-close-btn').click(function (e) {
                        $('#question-form').collapse("hide");
                    })
                    // chọn lớp học
                    $('.class-list li').click(function () {
                        $(this).addClass('active')
                        $('.class-list li').not($(this)).removeClass('active');
                    });
                    // chọn phần bên nav 
                    $('.nav li').click(function () {
                        $(this).addClass('active')
                        $('.nav li').not($(this)).removeClass('active');
                        $('.main:nth-of-type(' + $(this).data('rel') + '').stop().fadeIn(400, 'linear').siblings('.main').stop().fadeOut(0, 'linear');
                    });
                    // hiển thị profile
                    $('li .profile').click(function () {
                        $('.nav li').removeClass('active');
                        $('.main:last-of-type').stop().fadeIn(400, 'linear').siblings('.main').stop().fadeOut(0, 'linear');
                    });
                    //edit prơfile
                    var editBtn = $('.profile-edit-btn');
                    var contents = $(".editp");
                    delete contents.length;
                    delete contents.prevObject;
                    // Sửa cái này để lưu profile 
                    // Cái contents đang là mảng lần lượt là thông tin của các cái tên, mssv, trong profile
                    // window.onload = function () {
                    //     if (localStorage.getItem('content')) {
                    //         document.querySelector('.content').innerHTML = localStorage.getItem('content');
                    //     }
                    // }
                    // chuyển profile về chế độ chỉnh sửa
                    editBtn.click(function (e) {
                        e.preventDefault();
                        for (const [key, value] of Object.entries(contents)) {
                            content = value;
                            content.contentEditable = !content.isContentEditable;
                            if (content.contentEditable === 'false') {
                                content.style.background = 'none';
                                content.style.color = '#fff';
                                // localStorage.setItem('content', content.innerHTML);
                            } else {
                                content.style.background = '#fff';
                                content.style.color = '#0062cc';
                                content.value = "Save";
                            }
                        }
                    });
                })(jQuery);
                $('document').ready(function ($) {
                    var rows = $('#worktable tbody tr').each(function () {
                        var row = $(this);
                        var columns = row.children('td');

                        row.data('year', columns.eq(5).html());
                        row.data('sem', columns.eq(6).html());

                    });
                    var rows2 = $('#marktable tbody tr').each(function () {
                        var row = $(this);
                        var columns = row.children('td');

                        row.data('year', columns.eq(5).html());
                        row.data('sem', columns.eq(6).html());
                        row.data('gpa', columns.eq(8).html());
                        row.data('canhbaohocvu', columns.eq(9).html());
                        row.data('tinchi', columns.eq(7).html());

                    });
                    $('#year, #sem').change(function () {
                        var i = 1;
                        var year = parseInt($('#year').val());
                        var sem = parseInt($('#sem').val());
                        rows.each(function () {
                            var row = $(this);
                            var year_to_match = row.data('year');
                            var sem_to_match = row.data('sem');
                            if (year_to_match == year && sem_to_match == sem) {
                                row.children('td').eq(0).html(i);
                                i++;
                                row.show();
                            }
                            else {
                                row.hide();
                            }
                        });
                    });
                    $('#year_hoctap, #sem_hoctap, #classify').change(function () {
                        var i = 1;
                        var year = parseInt($('#year_hoctap').val());
                        var sem = parseInt($('#sem_hoctap').val());
                        var classify = parseInt($('#classify').val());

                        rows2.each(function () {
                            var row = $(this);
                            var year_to_match = row.data('year');
                            var sem_to_match = row.data('sem');
                            var gpa = row.data('gpa');
                            var canhbaohocvu = row.data('canhbaohocvu');
                            var tinchi = row.data('tinchi');
                            if (classify == 1) {
                                if (year_to_match == year && sem_to_match == sem && gpa >= 3.2) {
                                    row.children('td').eq(0).html(i);
                                    i++;
                                    row.show();
                                }
                                else {
                                    row.hide();
                                }
                            }
                            else if (classify == 2) {
                                if (year_to_match == year && sem_to_match == sem && canhbaohocvu == "có") {
                                    row.children('td').eq(0).html(i);
                                    i++;
                                    row.show();
                                }
                                else {
                                    row.hide();
                                }
                            }
                            else if (classify == 3) {
                                if (year_to_match == year && sem_to_match == sem && tinchi < 13) {
                                    row.children('td').eq(0).html(i);
                                    i++;
                                    row.show();
                                }
                                else {
                                    row.hide();
                                }
                            }
                            else {
                                if (year_to_match == year && sem_to_match == sem) {
                                    row.children('td').eq(0).html(i);
                                    i++;
                                    row.show();
                                }
                                else {
                                    row.hide();
                                }
                            }

                        });
                    });
                });

                $("#editstudent").submit(function () {

                    var name = $("#nametoedit").html();
                    var email = $("#emailtoedit").html();
                    var sdt = $("#sdttoedit").html();

                    var input = $("<input />", {
                        name: "hoten",
                        value: name,
                        type: "hidden"
                    });
                    var input2 = $("<input />", {
                        name: "email",
                        value: email,
                        type: "hidden"
                    });
                    var input3 = $("<input />", {
                        name: "sdt",
                        value: sdt,
                        type: "hidden"
                    });
                    $(this).append(input, input2, input3);
                });
                $("#editteacher").submit(function () {

                    var name = $("#nametoedit").html();
                    var sdt = $("#sdttoedit").html();

                    var input = $("<input />", {
                        name: "hoten",
                        value: name,
                        type: "hidden"
                    });
                    var input3 = $("<input />", {
                        name: "sdt",
                        value: sdt,
                        type: "hidden"
                    });
                    $(this).append(input, input3);
                });

            </script>

</body>

</html>