<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="../assets/css/teacher.css">
    <link rel="stylesheet" href="../assets/font/fontawesome/icon-font/themify-icons/themify-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="left-side ">
        <h1 class="title">Student Management</h1>
        <label for="">Tools</label>
        <ul class="nav">
            <li data-rel="1" class="active"><i class="ti-user"></i> Sinh viên</li>
            <li data-rel="2" class=""><i class="ti-book"></i> Học tập</li>
            <li data-rel="3" class=""><i class="ti-clipboard"></i> Rèn luyện</li>
            <li data-rel="4" class=""><i class="ti-arrow-circle-down"></i> Công việc</li>
            <li data-rel="5" class=""><i class="ti-help-alt"></i> Diễn đàn</li>
        </ul>

        <label for="">Others</label>
        <ul class="nav">
            <li data-rel="6"><i class="ti-headphone-alt"></i> Hỗ trợ</li>
        </ul>
    </div>

    <div class="content">

        <!-- phần giữa trang chủ -->
        <div class="main">
            <% if(hoten) { %>
                <h1 class="title-main">Xin chào, <%= hoten %>
                </h1>
                <% } %>

                    <form class="adding-member" action="/add/student" method="post">
                        <img src="../assets/img/IMG_8672.png" alt="" class="adding-avt">
                        <div class="adding-id-inf col-md-3">
                            <h2 class="name-inf">MSSV</h2>
                            <input autocomplete="off" type="text" class="input-inf" name="mssv" placeholder="mã sv" />
                        </div>
                        <div class="adding-name-inf col-md-3">
                            <h2 class="name-inf">Họ tên</h2>
                            <input autocomplete="off" type="text" class="input-inf" placeholder="Tên" name="hoten" />
                        </div>

                        <div class="adding-name-inf col-md-3">
                            <h2 class="name-inf">Ngày sinh</h2>
                            <input autocomplete="off" type="date" class="input-inf" />
                        </div>
                        <input type="submit" value="Thêm sv" id="" class="adding-btn btn col-md-2">
                    </form>

                    <div class="member-list">
                        <div class="member">
                            <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                            <p class="member-name">Name</p>
                            <p class="member-pos">position</p>
                        </div>

                        <div class="member">
                            <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                            <p class="member-name">Name</p>
                            <p class="member-pos">position</p>
                        </div>

                        <div class="member">
                            <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                            <p class="member-name">Name</p>
                            <p class="member-pos">position</p>
                        </div>

                        <div class="member">
                            <img src="../assets/img/IMG_8672.png" alt="" class="member-ava">
                            <p class="member-name">Name</p>
                            <p class="member-pos">position</p>
                        </div>
                    </div>

                    <input class="form-control ml-3 mt-4 mb-4" id="myInput" type="text" placeholder="Search..">


                    <!--Bảng danh sách sinh viên-->
                    <div class="table-responsive">

                        <table id="student-table" class="ml-3 w-100 table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>MSSV</th>
                                    <th>Họ và tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Lớp khoá học</th>
                                    <th>Email</th>
                                    <th>SĐT</th>
                                </tr>
                            </thead>
                            <tbody class="stu-table-body">
                                <tr>
                                    <td>1</td>
                                    <td>19021234</td>
                                    <td>Hà Đạt</td>
                                    <td>1/12/2001</td>
                                    <td>CACLC2</td>
                                    <td>john@example.com</td>
                                    <td>0913230131</td>
                                </tr>
    
                                <tr>
                                    <td>2</td>
                                    <td>19021235</td>
                                    <td>HUY</td>
                                    <td>1/1/2001</td>
                                    <td>CACLC2</td>
                                    <td>john@example.com</td>
                                    <td>0913230131</td>
                                </tr>
    
                                <tr>
                                    <td>3</td>
                                    <td>19021224</td>
                                    <td>Hà Sơn</td>
                                    <td>1/2/2001</td>
                                    <td>CACLC2</td>
                                    <td>john@example.com</td>
                                    <td>0913230131</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        </div>

        <!-- Học tập -->
        <div class="main">
            <h1 class="title-main">Học tập</h1>
            <div class="selections d-flex justify-content-between">
                <div class="">
                    <label for="quater">Học kỳ:</label>
                    <select>
                        <option value="volvo">Học kỳ 2 năm học 2020-2021</option>
                        <option value="volvo">Học kỳ 1 năm học 2020-2021</option>
                        <option value="volvo">Học kỳ 2 năm học 2019-2020</option>
                        <option value="volvo">Học kỳ 1 năm học 2019-2020</option>
                    </select>
                </div>

                <div class="">
                    <label for="quater">Phân loại:</label>
                    <select>
                        <option value="volvo">Tất cả sinh viên</option>
                        <option value="volvo">Sv có thành tích học tập tốt</option>
                        <option value="volvo">Sv nguy cơ nghỉ học</option>
                        <option value="volvo">Sv bị nhắc nhở</option>
                        <option value="volvo">Sv thiếu tín chỉ</option>
                    </select>
                </div>
            </div>

            <div class="">
                <table class="mark">
                    <tr>
                        <th>STT</th>
                        <th>Mã SV</th>
                        <th>Họ Tên</th>
                        <th>Ngày Sinh</th>
                        <th>GPA</th>
                        <th>ĐTB</th>
                        <th>Ghi chú</th>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>19021234</td>
                        <td>Hà Văn Đạt</td>
                        <td>01/12/2001</td>
                        <td>13</td>
                        <td>1.0</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>19021234</td>
                        <td>Hà Văn Đạt</td>
                        <td>01/12/2001</td>
                        <td>13</td>
                        <td>1.0</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Rèn luyện -->
        <div class="main">
            <h1 class="title-main">Rèn luyện</h1>
            <div class="selections">
                <label for="quater">Học kỳ:</label>
                <select>
                    <option value="volvo">Học kỳ 2 năm học 2020-2021</option>
                    <option value="volvo">Học kỳ 1 năm học 2020-2021</option>
                    <option value="volvo">Học kỳ 2 năm học 2019-2020</option>
                    <option value="volvo">Học kỳ 1 năm học 2019-2020</option>
                </select>
            </div>

            <div class="">
                <table class="work">
                    <tr>
                        <th>STT</th>
                        <th>Mã SV</th>
                        <th>Họ Tên</th>
                        <th>Ngày Sinh</th>
                        <th>Ý thức học tập</th>
                        <th>Chấp hành nội quy</th>
                        <th>Tham gia hoạt động</th>
                        <th>Phẩm chất</th>
                        <th>Phụ trách lớp</th>
                        <th>Tổng</th>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>19021234</td>
                        <td>Hà Văn Đạt</td>
                        <td>01/12/2001</td>
                        <td>30</td>
                        <td>20</td>
                        <td>15</td>
                        <td>15</td>
                        <td>0</td>
                        <td>80</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>19021234</td>
                        <td>Hà Văn Đạt</td>
                        <td>01/12/2001</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Công việc -->
        <div class="main">
            <h1 class="title-main">Công việc</h1>
            <button class="todo-add-btn js-add-todo btn">Thêm một công việc</button>
            <form action="/upload/task" class="form js-todo-form" method="post">
                <label for="">Tiêu đề</label>
                <input type="text" class="input-subject" name="subject">
                <hr>

                <div class="todo-dur-input">
                    <label for="birthdaytime">Opened:</label>
                    <input type="datetime-local" name="opendate">
                    <label for="birthdaytime">Due:</label>
                    <input type="datetime-local" name="duedate">
                </div>
                <hr>
                <label for="">Nội dung</label>
                <input role="textbox" spellcheck="true" class="input-content" name="content">
                <div>
                    <input type="submit" value="Đăng lên" class="btn">
                    <div class="btn js-close-todo-btn">Huỷ bỏ</div>
                </div>
            </form>

            <div class="todo">
                <h3 class="todo-title">
                    <!-- thêm biến tiêu đề -->
                </h3>
                <div class="todo-intro">
                    <p class="todo-content">
                        <!-- Thêm biến nội dung -->
                    </p>
                    <div class="todo-duration">
                        <p class="todo-opened">Opened:
                            <!--Thêm biến tgian-->
                        </p>
                        <p class="todo-due">Due:
                            <!--Thêm biến tgian-->
                        </p>
                    </div>
                </div>

                <!-- <div class="todo-opinion">
                    <span class="todo-yk">Gửi ý kiến</span>
                    <a href="#" class="todo-cmt-btn"><i class="ti-angle-right"></i> Bình luận</a>
                </div> -->
            </div>
        </div>

        <!--diễn đàn -->
        <div class="main">
            <h1 class="title-main">Diễn đàn</h1>
            <button class="question-btn btn js-add-question">Thêm một chủ đề thảo luận</button>
            <form action="/upload/question" class="form js-question-form" method="post">
                <label for="">Tiêu đề</label>
                <input type="text" class="input-subject" name="subject">
                <hr>
                <label for="">Nội dung</label>
                <input contenteditable="true" role="textbox" spellcheck="true" class="input-content" name="content">
                <div>
                    <input type="submit" value="Đăng lên" class="btn">
                    <div class="btn js-close-btn">Huỷ bỏ</div>
                </div>
            </form>

            <div class="question">
                <div class="ques-inf">
                    <div class="inf-item author-ava">
                        <img src="" alt="" class="">
                    </div>
                    <div class="inf-item">
                        <p class="author-name">
                            <!--Thêm biến tên-->
                        </p>
                        <p class="post-time">
                            <!--Thêm biến tgian-->
                        </p>
                    </div>
                    <div class="inf-item favourite">
                        <i class="ti-star"></i>
                    </div>
                </div>

                <div class="question-body">
                    <h3 class="question-subject">
                        <!--Thêm biến tiêu đề câu hỏi diễn đàn-->
                    </h3>
                    <p class="question-content">
                        <!--Thêm biến nội dung diễn đàn-->
                    </p>
                </div>

                <div class="question-respone">
                    <p class="question-like"><i class="ti-heart"></i>Yêu thích</p>
                    <p class="question-cmt"><i class="ti-comment"></i>Bình luận</p>
                </div>
            </div>
        </div>

        <div class="main">
            <h1 class="title-main">Hỗ trợ</h1>
        </div>

        <!-- profile -->
        <div class="main emp-profile">
            <form method="post">
                <div class="row profile-header">
                    <div class="profile-img col-md-4">
                        <img src="../assets/img/IMG_8672.png" alt="" />
                        <div class="file btn-lg btn-primary">
                            <i class="ti-camera"></i>
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="profile-title col-md-6">
                        <h5 class="profile-name">
                            <%= hoten %>
                        </h5>
                        <h6>
                            Sinh viên
                        </h6>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Timeline</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <!-- <div class="profile--btn btn">Edit</div>
                        <br> -->
                        <input type="submit" class="btn profile-edit-btn" name="btnAddMore" value="Edit" />
                    </div>
                </div>
                <div class="row profile-content">
                    <div class="profile-work col-md-4">
                        <!-- <p>Link 1</p>
                        <a href="">1</a><br />
                        <a href="">2</a><br />
                        <a href="">3</a>
                        <p>Link 2</p>
                        <a href="">1</a><br />
                        <a href="">2</a><br />
                        <a href="">3</a><br />
                        <a href="">4</a><br />
                        <a href="">5</a><br /> -->
                    </div>
                    <div class="tab-content profile-tab col-md-8" id="myTabContent">
                        <div class="tab-pane fade  show active about" id="home" role="tabpanel"
                            aria-labelledby="home-tab">
                            <div class="row">
                                <label class="col-md-6">Họ và tên:</label>
                                <p class="col-md-6">
                                    <%= hoten %>
                                </p>
                            </div>
                            <div class="row">
                                <label class="col-md-6"> Mã số sinh viên:</label>
                                <p class="col-md-6">
                                    <%= mssv %>
                                </p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Khoa:</label>
                                <p class="col-md-6">
                                    <%= khoa %>
                                </p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Lớp:</label>
                                <p class="col-md-6">
                                    <%= malop %>
                                </p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Email:</label>
                                <p class="col-md-6">
                                    <%= email %>
                                </p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Số điện thoại:</label>
                                <p class="col-md-6">
                                    <%= sdt %>
                                </p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Số tín chỉ:</label>
                                <p class="col-md-6">
                                    <%= tinchi %>
                                </p>
                            </div>

                            <div class="row">
                                <label class="col-md-6">GPA:</label>
                                <p class="col-md-6">
                                    <%= gpa %>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <label class="col-md-6">Experience</label>
                                <p class="col-md-6">Expert</p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Hourly Rate</label>
                                <p class="col-md-6">10$/hr</p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Total Projects</label>
                                <p class="col-md-6">230</p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">English Level</label>
                                <p class="col-md-6">Expert</p>
                            </div>
                            <div class="row">
                                <label class="col-md-6">Availability</label>
                                <p class="col-md-6">6 months</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br />
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="dropdown">
        <img id="dropbtn" class=" dropbtn js-dropbtn" src="../assets/img/IMG_8672.png" alt="">
        <!-- <button id="dropbtn " class="dropbtn js-dropbtn"><i class="fas fa-caret-down"></i></button> -->
        <ul class="dropdown-list js-drop-item">
            <li><a class="profile" href="#">
                    <!-- <img class="margin-top avatar" id="" src="/assets/img/IMG_8672.png" alt=""> -->
                    <label for="">
                        <%= hoten %>
                    </label>
                </a></li>
            <hr>
            <li><a href="#">Kết quả học tập</a></li>
            <li><a href="#">Điểm rèn luyện</a></li>

            <hr>
            <li><a href="#">Cài đặt</a></li>
            <li><a href="/logout">Đăng xuất</a></li>
        </ul>
    </div>

    <div class="right-nav">
        <label for=""><i class="ti-list"></i></label>
        <ul class="class-list">
            <li data-rel="1" class="active"><i class="ti-angle-right"></i>QHI-2019-CA-CLC-1</li>
            <li data-rel="2" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-2</li>
            <li data-rel="3" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-3</li>
            <li data-rel="4" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-4</li>
            <li data-rel="5" class=""><i class="ti-angle-right"></i>QHI-2019-CA-CLC-5</li>
        </ul>
    </div>
    <!-- rightsidebar -->
    <!-- <div class="rightsidebar">
        
    </div> -->


    <script>
        (function ($) {
            // Tìm kiếm sinh viên
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".stu-table-body tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            // hiển thị dropdown 
            $('.js-dropbtn').click(function (e) {
                e.stopPropagation();
                var droplist = $('.js-drop-item');
                if (droplist.css('display') === 'none') {
                    droplist.css({ "display": "block" });
                } else {
                    $('.js-drop-item').fadeOut(200);
                }
            })

            $(document).click(function (e) {
                $('.js-drop-item').fadeOut(200);
            });

            // hiển thị đăng công việc
            $('.js-add-todo').click(function (e) {
                e.stopPropagation();
                var todoForm = $('.js-todo-form');
                console.log(todoForm.css('display'))
                if (todoForm.css('display') === 'none') {
                    todoForm.css({ "display": "block" });
                } else {
                    todoForm.fadeOut(100);
                }
            })

            $('.js-close-todo-btn').click(function (e) {
                $('.js-todo-form').fadeOut(100);
            })

            // hiển thị đăng câu hỏi diễn đàn
            $('.js-add-question').click(function (e) {
                e.stopPropagation();
                var quesForm = $('.js-question-form');
                console.log(quesForm.css('display'))
                if (quesForm.css('display') === 'none') {
                    quesForm.css({ "display": "block" });
                } else {
                    quesForm.fadeOut(100);
                }
            })

            $('.js-close-btn').click(function (e) {
                e.stopPropagation();
                $('.js-question-form').fadeOut(100);
            })

            // chọn lớp học
            $('.class-list li').click(function () {
                $(this).addClass('active')
                $('.class-list li').not($(this)).removeClass('active');
            });

            // chọn phần bên nav 
            $('.nav li').click(function () {
                $(this).addClass('active')
                $('.nav li').not($(this)).removeClass('active');
                $('.main:nth-of-type(' + $(this).data('rel') + '').stop().fadeIn(400, 'linear').siblings('.main').stop().fadeOut(0, 'linear');
            });

            // hiển thị profile
            $('li .profile').click(function () {
                $('.nav li').removeClass('active');
                $('.main:last-of-type').stop().fadeIn(400, 'linear').siblings('.main').stop().fadeOut(0, 'linear');
            });


            //edit prơfile
            var editBtn = $('.profile-edit-btn');
            var contents = $(".about p");
            delete contents.length;
            delete contents.prevObject;

            // window.onload = function () {
            //     if (localStorage.getItem('content')) {
            //         document.querySelector('.content').innerHTML = localStorage.getItem('content');
            //     }
            // }

            editBtn.click(function (e) {
                e.preventDefault();
                for (const [key, value] of Object.entries(contents)) {
                    content = value;
                    content.contentEditable = !content.isContentEditable;
                    if (content.contentEditable === 'false') {
                        content.style.background = 'none';
                        content.style.color = '#fff';
                        // localStorage.setItem('content', content.innerHTML);
                    } else {
                        content.style.background = '#fff';
                        content.style.color = '#0062cc';
                        content.value = "Save";
                    }
                }
            });

        })(jQuery);
    </script>

</body>

</html>