<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học tập</title>
    <link rel="stylesheet" href="/assets/css/teacher.css">
    <link rel="stylesheet" href="/assets/font/fontawesome/icon-font/themify-icons/themify-icons.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
   
</head>
<body>
    <%- include ("partial/leftsidebar") %>
    <%- include ("partial/dropdown") %>

      <!-- profile -->
      <div class="main emp-profile">
        <div class="row profile-header">
            <div class="profile-img col-md-4">
                <img src="/assets/img/IMG_8672.png" alt="" />
                <div class="file btn-lg btn-primary">
                    <i class="ti-camera">
                        <form action="">
                            <input type="file" name="file" />
                        </form>
                    </i>
                </div>
            </div>
            <div class="profile-title col-md-6">
                <h5 class="profile-name">
                    <%= hotenProfile %>
                </h5>
                <% if (vaitroProfile == 'sinhvien') { %> 
                <h6>
                    Sinh viên
                </h6>
                <% } %>
                <% if (vaitroProfile == 'covan') { %> 
                <h6>
                    Cố vấn
                </h6>
                <% } %>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Tổng quan</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Timeline</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <% if (user.vaitro == vaitroProfile) { %>
                <button class="btn yellow-btn profile-edit-btn" name="btnAddMore">Sửa</button>
                <% } %>
            </div>
        </div>
        <div class="row profile-content">
            <div class="profile-work col-md-4">
               
            </div>
            <div class="tab-content profile-tab col-md-8" id="myTabContent">
                <div class="tab-pane fade  show active about" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <% if(user.vaitro=='sinhvien') { %>
                        <form id="editstudent" action="/student/editprofile/<%= mssv %>" method="post">
                        <% } %>
                    <% if(user.vaitro=='covan' && vaitroProfile != 'sinhvien') { %>
                        <form id="editteacher" action="/teacher/editprofile/<%= email %>/<%= sinhvien[0].malop %>" method="post">
                        <% } %>

                        <div class="row">
                            <label class="col-md-6">Họ và tên:</label>
                            <p id="nametoedit" name="hoten" class="editp col-md-6">
                                <%= hotenProfile %>
                            </p>
                        </div>

                        <% if(vaitroProfile=='sinhvien' ) { %>
                            <div class="row">
                                <label class="col-md-6"> Mã số sinh viên:</label>
                                <p name="mssv" class="col-md-6" value="">
                                    <%= mssvProfile %>
                                </p>
                            </div>
                        <% } %>

                        <div class="row">
                            <label class="col-md-6"> Ngày sinh:</label>
                            <p name="mssv" class="col-md-6" value="">
                                <%= ngaysinhProfile %>
                            </p>
                        </div>

                        <div class="row">
                            <label class="col-md-6">Khoa:</label>
                            <p class="col-md-6">
                                <%= khoaProfile %>
                            </p>
                        </div>

                        <% if(vaitroProfile=='sinhvien' ) { %>
                            <div class="row">
                                <label class="col-md-6">Lớp:</label>
                                <p class="col-md-6">
                                    <%= malopProfile %>
                                </p>
                            </div>
                        <% } %>

                        <% if(vaitroProfile=='sinhvien' ) { %>
                            <div class="row">
                                <label class="col-md-6">Email:</label>
                                <p id="emailtoedit" name="email" class="editp col-md-6">
                                    <%= emailProfile %>
                                </p>
                            </div>
                        <% } %>

                        <% if(vaitroProfile=='covan' ) { %>
                            <div class="row">
                                <label class="col-md-6">Email:</label>
                                <p id="emailtoedit" name="email"
                                    class="col-md-6">
                                    <%= emailProfile %>
                                </p>
                            </div>
                        <% } %>

                        <div class="row">
                            <label class="col-md-6">Số điện thoại:</label>
                            <p id="sdttoedit" name="sdt"
                                class="editp col-md-6">
                                <%= sdtProfile %>
                            </p>
                        </div>

                        <% if(vaitroProfile=='sinhvien' ) { %>
                            <div class="row">
                                <label class="col-md-6">Số tín chỉ:</label>
                                <p class="col-md-6">
                                    <%= tinchiProfile %>
                                </p>
                            </div>
                        <% } %>
                        <% if(vaitroProfile=='sinhvien' ) { %>
                            <div class="row">
                                <label
                                    class="col-md-6">GPA:</label>
                                <p class="col-md-6">
                                    <%= gpaProfile %>
                                </p>
                            </div>
                        <% } %>

                    <input type="submit" id="xacnhan" class="btn" value="Xác nhận">
                </form>
                </div>
                <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <label class="col-md-6">Experience</label>
                        <p class="col-md-6">Expert</p>
                    </div>
                    <div class="row">
                        <label class="col-md-6">Hourly Rate</label>
                        <p class="col-md-6">10$/hr</p>
                    </div>
                    <div class="row">
                        <label class="col-md-6">Total Projects</label>
                        <p class="col-md-6">230</p>
                    </div>
                    <div class="row">
                        <label class="col-md-6">English Level</label>
                        <p class="col-md-6">Expert</p>
                    </div>
                    <div class="row">
                        <label class="col-md-6">Availability</label>
                        <p class="col-md-6">6 months</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Your Bio</label><br />
                            <p>Your detail description</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/profile.js"></script>

</body>
</html>
