
<div class="left-side ">
    <% if(vaitro == 'covan') { %>
    <h1 id="title" class="title" onclick="goToHomepage()">Quản lý sinh viên</h1>
    <% } %>
    <% if(vaitro == 'sinhvien') { %>
    <h1 id="title" class="title" onclick="goToHocTap()">Quản lý sinh viên</h1>
    <% } %>
    <label for="">Công cụ</label>
    <ul class="nav">
        <% if(vaitro == 'covan') { %>
        <a href="/myclass/<%= email %>/<%= sinhvien[0].malop %>"><li data-rel="1" class="">Sinh viên</li></a>
        <% } %>
        <a href="/hoc-tap/<%= sinhvien[0].malop %>"><li data-rel="2" class="">Học tập</li></a>
        <a href="/ren-luyen/<%= sinhvien[0].malop %>"><li data-rel="3" class="">Rèn luyện</li></a>
        <a href="/dien-dan/<%= sinhvien[0].malop %>"><li data-rel="5" class="">Diễn đàn</li></a>
    </ul>

    <label for="">Khác</label>

    <ul class="nav">
        <li data-rel="6"> Hỗ trợ</li>
    </ul>
    <script>
        function goToHomepage() {
            window.location.href = "/myclass/<%= email %>/<%= sinhvien[0].malop %>";
        }
        function goToHocTap() {
            window.location.href = "/hoc-tap/<%= sinhvien[0].malop %>";
        }
    </script>
</div>